*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a{
    text-decoration: none !important;
    text-decoration-line: none !important;
}

.how-it{
    height: 70vh;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%); 
}

.old{ 
    height: 60vh;
    background-image: url(/images/cur.png), url(/images/ver.png);
    background-position: left ,right top;
    background-repeat: no-repeat;
    background-size: auto;
    margin: 15vh 4vw 0vh 4vw;
  }
  
  .how-it .t-ourPs{
    padding-top: 15%;  
    color: aliceblue;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.how-it .t-ourPs h1{
    font-size: 5vh;
    margin-bottom: 4vh;
}

.how-it .t-ourPs p{
    font-size: 3vh;
}

.curver{
    margin-top: 5vh;
    text-align: center;
}

.curver h1{
    font-family: 'Alex Brush', cursive;
    font-size: 8vh;
}

.curver h2{
    letter-spacing: 0.2vw;
    margin-bottom: 5vh;
}

.vid{
    display: flex;
    justify-content: center;
}





.footer {
    width: 100%;
    display: flex;
    margin-top: 10vh;
}
.footer1 {
    width: 25%;
    text-align: center;
}
.ftr-all {
    width: 75%;
    display: flex;
    justify-content: space-around;
}

.ftr-all a{
    color: black;
}

.ftr-all a:hover{
    color:  rgb(219,45,35);;
}
.footer2  {
    display: flex;
    flex-direction: column;
}

.footer3{
    display: flex;
    flex-direction: column;
}

.footer4{
    color: red;
}

.footer .icon-brands{
    margin-top: 20px;
}

.footer .icon-brands i{
    font-size: 1.5em; 
    padding: 0px 8px;
}

.footer a{
    margin-top: 10px;
}

.ftr-down{
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;
}

.ftr-down a{
    color: black;
}

.ftr-down a:hover{
    color:  rgb(219,45,35);;
}

.ftr-down div{
    margin: 10px 5px;
}

.ftr-down .flex-foot{
    display: flex; 
    font-size: small;
}

/*     X    ----------  FOOTER CONTENT   ----------      X    */

#to-header{
    margin: 15px; 
    padding: 10px; 
    border: 1px solid black; 
    color: black;
}

.footer-btn{
    transition: 0.6s;
    color: black; 
    padding: 10px 80px;
    cursor: pointer; 
    border: 1px solid black; 
    background-color: transparent;  
}



.footer-btn:hover{
    color: black;
}

i:hover{
    color: coral;
}
/*------------      Media element max-width 768px     ------------*/

@media screen and (max-width: 768px){
    .footer{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .footer1 {
        width: 100%;
        height: 50%;
        padding-bottom: 10px;
    }

    .ftr-all {
        width: 100%;
        height: 50%;
        
    }

    .footer-btn{   
        padding: 10px 20px;
    }
}

/*------------      Media element max-width 375px     ------------*/

@media screen and (max-width: 375px){
    .footer {
        margin-top: 55vh;
     }
 
     .footer .ftr-all {
        display: flex;
        flex-direction: column;
        align-items: center;
     }
 
     .footer .ftr-all .footer2 {
         display: flex;
         flex-direction: column;
         align-items: center;
      }
 
     .footer .footer1, .footer2, .footer3 {
        padding: 20px;
     }
 
     .footer .footer3{
         align-items: center;
     }
     .footer .footer3 h4{
         font-size: 2vh;
         text-align: center;
     }
 
     .footer .footer4 {
         text-align: center;
     }
 
     .ftr-down{
         flex-direction: column;
         align-items: center;
         text-align: center;
         font-size: 2vh;
     }
 
     .ftr-down .flex-foot{
         flex-direction: column;
         align-items: center;
         text-align: center;
     }
 
     #to-header{
        display: none;
     }   
}
